Submission_Extra_Files/
SwarmFiles.javiergc/
Data_Interim/
Dashboard/
Logs.javiergc/
.ipynb_checkpoints/
Resuources/.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/
Data/PNAS2015/SBJ??/*.roidat
Data/PNAS2015/SBJ??/*.netcc
Data/PNAS2015/SBJ??/*.HEAD
Data/PNAS2015/SBJ??/*.BRIK
Data/PNAS2015/SBJ??/*.dset
Data/PNAS2015/Other/
Data/PNAS2015/SBJ06/SBJ06.Craddock2Yeo_Overlap.csv
Data/PNAS2015/SBJ26/NETCORR_000.netts
Data/Yeo_JNeurophysiol11_MNI152/
Others/
Resources/MATH.csv
Resources/MEMO.csv
Resources/VIDE.csv
